sphinx
sphinx-autobuild
sphinxcontrib-httpdomain
sphinx-jsonschema
nbsphinx
sphinx_rtd_theme
recommonmark
m2r
sphinx-autoapi
requests
celery
jinja2
markupsafe
docutils
furo
sphinxcontrib-youtube
virtualenv
sphinx-jsonschema==1.19.1
requests
ods-tools
sphinxcontrib-redoc
